<section class="container courses">
    <h3 class="heading-main">C# .NET</h3>
    <div class="course-details">
        <h4 class="heading-sub">OVERVIEW:</h4>
        <p>
            C# .NET is a popular universal programming language from Microsoft. C# the programming language is actually ruling the software industry with the basic structure. C# with its latest update is one the most important languages among the others.
        </p>

        <p>The multidimensional, object-oriented programing language C# will be used to perform a wide range of tasks and objectives. It just acts as an open-source platform for any language and learning this programming language is getting you closer to the other latest language. This C# Online training gives you a basic coding structure to build your web development and Windows.
        </p>
        <p>Java is an Object Oriented Programming Language. Core Java is a concept to write once can be used anywhere. Without compiling the code it can be used on another platform if it the code is written for one platform. Java can be used in both Client Server as well as Web-based Application. We can use Core Java in many technologies like Selenium, Hadoop, Sales Force, Data Analytics, etc. It has the different concept of Collection, Swing, Multi-threading, etc which help in the building of Stand-Alone Application. It is very flexible and can be used to develop Software as well as Applets. It is also used to develop a Mobile Application, Desktop Application, Web Application, Security driven Application, etc. 
        </p>



        <!-- <h4>INTRODUCTION:</h4>
        <p>
            Java is a class-based, object-oriented programming language and is designed to have as few implementation dependencies as possible. It is a simple programming language. Java makes writing, compiling, and debugging programming easy. It helps to create reusable code and modular programs.
        </p>
        <p>Java applications are compiled to byte code that can run on any Java Virtual Machine. The syntax of Java is similar to c/c++.</p>

        <p>
            Java is a high level, robust, object-oriented and a secure and stable programming language but it is not a pure object-oriented language because it supports primitive data types like int, char etc.
        </p>
        <p>
            Java is a platform-independent language because it has runtime environment i.e JRE and API. Here platform means a hardware or software environment in which anapplication runs.
        </p>
        <p>
            Java codes are compiled into byte code or machine-independent code. This byte code is run on JVM (Java Virtual Machine).
        </p>
        <p>
            The syntax is Java is almost the same as C/C++. But java does not support low-level programming functions like pointers. The codes in Java is always written in the form of Classes and objects.
        </p> -->

        <!-- <p><img src=""></p> -->

        <h4>PRE-REQUISITES</h4>
        <p>
            Basic knowledge of programming language like "C" or C++ or JAVA or PHP or VB.
        </p>
    </div>
</section>