<section class="container courses">
    <h3 class="heading-main">LINUX</h3>
    <div class="course-details">
        <h4 class="heading-sub">OVERVIEW:</h4>
        <p>
            Linux is the most commonly used open source operating system. Linux is a very popular Operating System used
            in server, desktop, and mobile computing. Linux platform is the first choice to host Databases, Emails,
            Applications, and Web. Most of the world-class companies are running on Linux be it Google, Facebook,
            Wikipedia, Yahoo, Amazon, and the list never ends. The popularity of Linux among individual as well as
            company guarantee promising career. The fun of hands-on Linux further adds to it.
        </p>

        <p>Linux is a powerful open-source operating system that is being used by a large section of the corporate
            world. This OS ensures that you have the power to configure, manage, and secure your systems. Taking up this
            Red Hat Linux course will help you take on high-paying jobs in the corporate world as a Linux Administrator
        </p>



        <h4>INTRODUCTION:</h4>
        <p>
            LINUX is an operating system or a kernel distributed under an open-source license. Its functionality list is
            quite like UNIX. The kernel is a program at the heart of the Linux operating system that takes care of
            fundamental stuff, like letting hardware communicate with software. Linux is a Unix-like, open source and
            community-developed operating system (OS) for computers, servers, mainframes, mobile devices and embedded
            devices. It is supported on almost every major computer platform, including x86, ARM and SPARC, making it
            one of the most widely supported operating systems.
        </p>
        <p>Linux as operating system acts beneath all of the other software and relay requests to the computer’s
            hardware. Popular Linux distributions include Arch Linux, Debian, Fedora, and Ubuntu..Commercial
            distributions include Red Hat Enterprise Linux and SUSE Linux Enterprise Server.</p>

        <p>
            Every version of the Linux OS manages hardware resources, launches and handles applications, and provides
            some form of user interface. The enormous community for developers and wide range of distributions means
            that a Linux version is available for almost any task, and Linux has penetrated many areas of computing.
        </p>
        <p>
            Nowadays, Linux is also used in embedded systems like routers, automation controls, televisions, digital
            video recorders, video game consoles, smartwatches, etc. The biggest success of Linux is Android(operating
            system) it is based on the Linux kernel that is running on smartphones and tablets. Due to android Linux has
            the largest installed base of all general-purpose operating systems. Linux is generally packaged in a Linux
            distribution.
        </p>

        <!-- <p><img src=""></p> -->

        <h4>PRE-REQUISITES</h4>
        <p>
            No familiarity with Linux or other UNIX operating systems is expected or required.
        </p>
    </div>
</section>