<section class="container courses">
    <h3 class="heading-main">AZURE</h3>
    <div class="course-details">
        <h4 class="heading-sub">OVERVIEW:</h4>
        <p>
            Azure is a cloud computing platform with an ever-expanding set of services to help you build solutions to
            meet your business goals. Azure services range from simple web services for hosting your business presence
            in the cloud to running fully virtualized computers for you to run your custom software solutions.
        </p>
        <p>Cloud Computing is the next big thing , just look around you at how the digital world is evolving. Big
            players such as Amazon, Microsoft, Google are working towards the goal of allowing customers to embrace
            cloud computing. Microsoft has made big strides in this domain, and it’s no surprise as to why they are one
            of the leaders when it comes to Cloud Computing.</p>
        <p>Of the Fortune 500 companies, 95 percent rely on Azure for trusted cloud services. Companies of all sizes and
            maturities use Azure in their digital transformation. Azure Certification Course will help you implement
            advanced networking configurations, plan authentication and security of the infrastructure, use PaaS
            solutions and various services to deploy end-to-end cloud solutions. </p>

        <h4>INTRODUCTION:</h4>
        <p>
            Microsoft Azure, formerly known as Windows Azure, is Microsoft's public cloud computing platform. It
            provides range of cloud services, including compute, analytics, storage and networking.
        </p>
        <p>With Azure, Microsoft provides comprehensive enterprise cloud services to deploy and operate enterprise
            applications, web services, server, and network infrastructure in a secure, global, highly available and
            scalable cloud environment. Azure is the only consistent hybrid cloud, delivers unparalleled developer
            productivity, provides comprehensive, multilayered security, including the largest compliance coverage of
            any cloud provider.</p>
        <p>Azure offers a large collection of services including platform as a service (PaaS), infrastructure as a
            service (IaaS), and managed database service capabilities. ... Azure, like other cloud platforms, relies on
            a technology known as virtualization. Azure provides a wealth of cloud-based services like remote storage,
            database hosting, and centralized account management. Azure also offers new capabilities like AI and
            Internet of Things (IoT).</p>

        <p>Azure provides more than 200 services, are divided into 18 categories. These categories include computing,
            networking, storage, IoT, migration, mobile, analytics, containers, artificial intelligence, and other
            machine learning, integration, management tools, developer tools, security, databases, DevOps, media
            identity, and web services.</p>
        <!-- <p><img src=""></p> -->

        <h4>AZURE CERTIFICATION PRE-REQUISITES</h4>
        <p>
            Following are the pre-requisites for Microsoft Azure Architect Certification:
        </p>
        <ul>
            <li>Foundational knowledge on Cloud architecture</li>
            <li>Fundamentals of Cloud Computing</li>
            <li>Basic understanding of virtualization, networking & databases</li>
            <li>Proficiency in using Visual Studio IDE, PowerShell and Command-Line Interface</li>
            <li>Coding experience in C# (.NET Framework) - Optional</li>
        </ul>
    </div>
</section>