<section id="contact">
    <div class="container-fluid">

      <div class="section-header">
        <h3>Contact Us</h3>
      </div>

      <div class="row wow fadeInUp">

        <div class="col-lg-6">
          <div class="map mb-4 mb-lg-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7613.27202747485!2d78.410128!3d17.429247!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91342a8d0a55%3A0xc9a5ab3c24994adc!2s1202%2C%20Rd%20Number%2036%2C%20Jubilee%20Hills%2C%20Hyderabad%2C%20Telangana%20500033!5e0!3m2!1sen!2sin!4v1643212803557!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-4 info">
              <i class="ion-ios-location-outline"></i>
              <p>
                1-20, Edu Apartment <br>
                Jubilee Hills, Hyderabad 500033<br>
                Telangana, India <br>
            </div>
            <div class="col-md-4 info links-white-bg">
              <i class="ion-ios-email-outline"></i>
              <p class="m-0"><a href="mailto:info@snsitservice.com">info@snsitservice.com</a></p>
              <p class="m-0"><a href="mailto:snsitinfoservice@gmail.com">snsitinfoservice@gmail.com</a></p>
            </div>
            <div class="col-md-4 info">
              <i class="ion-ios-telephone-outline"></i>
              <p class="m-0">+91 8977012129</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 info text-center">
              <a href="https://wa.me/918247753228" type="button" class="btn btn-primary btn-lg" target="_blank" rel="noopener noreferrer">
                <em class="fa fa-whatsapp whatsapp-icon"></em>
                Text Me
              </a>
            </div>
          </div>

          

          <!-- <div class="form disabled" style="pointer-events: none; opacity: 0.5;">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input type="text" name="name" class="form-control disabled" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input type="email" class="form-control disabled" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control disabled" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control disabled" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center">
                <button type="submit" class="disabled" title="Send Message">Send Message</button>
              </div>
            </form>
          </div> -->
        </div>

      </div>

    </div>
  </section>