<section class="container courses">
    <h3>All Courses</h3>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img src="../../assets/img/courses/dev_ops.jpg" class="card-img-top" alt="DEVOPS">
                <div class="card-body">
                    <h5 class="card-title">DEVOPS</h5>
                    <p class="card-text">
                        DevOps (Development Operations) is a pioneer innovative development method comprising of just a
                        few sets of processes that synchronize to integrate development teams and processes to
                        supplement software development.
                    </p>
                    <a [routerLink]="['/courses', 'devops']" class="btn btn-primary">Read More</a>
                    <!-- <a (click)="nagivateToDetails()" class="btn btn-primary">Read More</a> -->
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="../../assets/img/courses/azure.jfif" class="card-img-top" alt="AZURE">
                <div class="card-body">
                    <h5 class="card-title">AZURE</h5>
                    <p class="card-text">Microsoft Azure, formerly known as Windows Azure, is Microsoft's public cloud
                        computing platform. It provides range of cloud services, including compute, analytics, storage
                        and networking.</p>
                    <a [routerLink]="['/courses', 'azure']" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="../../assets/img/courses/angular.png" class="card-img-top" alt="ANGULAR">
                <div class="card-body">
                    <h5 class="card-title">ANGULAR</h5>
                    <p class="card-text">Angular is an open-source, JavaScript framework written in TypeScript. Google
                        maintains it, and its primary purpose is to develop single-page applications.</p>
                    <a [routerLink]="['/courses', 'angular']" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="../../assets/img/courses/msbi.jfif" class="card-img-top" alt="MSBI">
                <div class="card-body">
                    <h5 class="card-title">MSBI</h5>
                    <p class="card-text">MSBI stands for ‘Microsoft Business Intelligence’. It consists of tools which
                        assist in providing optimized solutions for Business Intelligence and Data Mining Queries. </p>
                    <a [routerLink]="['/courses', 'msbi']" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="../../assets/img/courses/react.png" class="card-img-top" alt="REACT">
                <div class="card-body">
                    <h5 class="card-title">REACT</h5>
                    <p class="card-text">React JS is a JavaScript library for designing and developing the UI of
                        websites and web apps. It allows you to create interactive elements on websites. </p>
                    <a [routerLink]="['/courses', 'react']" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="../../assets/img/courses/sql_server.jfif" class="card-img-top" alt="SQL SERVER">
                <div class="card-body">
                    <h5 class="card-title">SQL SERVER</h5>
                    <p class="card-text">SQL SERVER is a relational database management system (RDBMS) developed by
                        Microsoft. This product is built for the basic function of storing retrieving data as required
                        by other applications. </p>
                    <a [routerLink]="['/courses', 'sql-server']" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <img src="../../assets/img/courses/sql_server.jfif" class="card-img-top" alt="SQL SERVER">
                <div class="card-body">
                    <h5 class="card-title">PYTHON</h5>
                    <p class="card-text">Python in simple words is a High-Level Dynamic Programming Language which is
                        interpreted. Guido Van Rossum, the father of Python had simple goals in mind when he was
                        developing it, easy looking code, readable and open source.</p>
                    <a [routerLink]="['/courses', 'python']" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <img src="../../assets/img/courses/sql_server.jfif" class="card-img-top" alt="SQL SERVER">
                <div class="card-body">
                    <h5 class="card-title">ORACLE</h5>
                    <p class="card-text">An Oracle database is a collection of data treated as a unit. The purpose of a
                        database is to store and retrieve related information. The primary purpose of a database is to
                        store and retrieve related information.</p>
                    <a [routerLink]="['/courses', 'oracle']" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <img src="../../assets/img/courses/sql_server.jfif" class="card-img-top" alt="SQL SERVER">
                <div class="card-body">
                    <h5 class="card-title">LINUX</h5>
                    <p class="card-text">LINUX is an operating system or a kernel distributed under an open-source license. Its functionality list is quite like UNIX.</p>
                    <a [routerLink]="['/courses', 'linux']" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <img src="../../assets/img/courses/sql_server.jfif" class="card-img-top" alt="SQL SERVER">
                <div class="card-body">
                    <h5 class="card-title">CORE JAVA</h5>
                    <p class="card-text">Java is a class-based, object-oriented programming language and is designed to have as few implementation dependencies as possible. It is a simple programming language.</p>
                    <a [routerLink]="['/courses', 'corejava']" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="../../assets/img/courses/sql_server.jfif" class="card-img-top" alt="SQL SERVER">
                <div class="card-body">
                    <h5 class="card-title">C# .NET</h5>
                    <p class="card-text">C# .NET is a popular universal programming language from Microsoft. C# the programming language is actually ruling the software industry with the basic structure. /p>
                    <a [routerLink]="['/courses', 'csharpdotnet']" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>