<section class="container courses">
    <h3 class="heading-main">REACT</h3>
    <div class="course-details">
        <h4 class="heading-sub">OVERVIEW:</h4>
        <p>
            React has become one of the most popular and useful JavaScript front-end libraries over time. Developed in the labs of Facebook, React aids in curating apps with more ease, scalability, and robustness. Major apps like Facebook, Instagram, Netflix, WhatsApp, Airbnb, Yahoo! Mail and many more use React to build their User Interface to improve user experience.This is the reason why most organizations prefer using React and there is a huge demand for React experts and developers. 
        </p>
        <p>React.js is a versatile JavaScript library for building interactive user interfaces easily. ReactJS presents streamlined solutions to some of front-end programming’s most persistent issues. ReactJS is fast, scalable, flexible, powerful, and has a robust developer community that’s rapidly growing.If you are planning to create UI/UX solutions for mobile or web, this course is extremely beneficial to improve your working skills</p>
        <p>The main objective of this React Certification course is to help you become familiar with the process and gain the skills you'll need to become a professional React developer. You will learn the fundamentals of React through self-paced and instructor-led training to understand and build React components and structure applications with Redux.</p>

       
        <h4>INTRODUCTION:</h4>
        <p>
            React JS is a JavaScript library for designing and developing the UI of websites and web apps. It allows you to create interactive elements on websites. JavaScript is a scripting language that enables users to build and manage dynamic content on their websites (such as slideshows, animated graphics, interactive forms, etc.)
        </p>
        <p>ReactJS is an open-source, component based front end library responsible only for the viewlayer of the application. ReactJS uses virtual DOM based mechanism to fill in data (views) in HTML DOM. The virtual DOM works fast owning to the fact that it only changes individual DOM elements instead of reloading complete DOM every time.</p>

        <p>In other words, React JS is a JavaScript library used in web development to build interactive elements on websites.</p>

        <p>A React application is made up of multiple components, each responsible for outputting a small, reusable piece of HTML. Components can be nested within other components to allow complex applications to be built out of simple building blocks. A component may also maintain internal state - for example, a TabList component may store a variable corresponding to the currently open tab.</p>

        <p>React allows us to write components using a domain-specific language called JSX. JSX allows us to write our components using HTML, whilst mixing in JavaScript events. React will internally convert this into a virtual DOM, and will ultimately output our HTML for us.</p>
        <p>React "reacts" to state changes in your components quickly and automatically to rerender the components in the HTML DOM by utilizing the virtual DOM. The virtual DOM is an in-memory representation of an actual DOM. By doing most of the processing inside the virtual DOM rather than directly in the browser's DOM, React can act quickly and only add, update, and remove components which have changed since the last render cycle occurred.</p>

        <h4>PRE-REQUISITES</h4>
        <p>
            For this React JS course, you need to have experience with building front-end web applications with HTML, CSS, and JavaScript.
        </p>
        
    </div>
</section>