<section class="container courses">
    <h3 class="heading-main">PYTHON</h3>
    <div class="course-details">
        <h4 class="heading-sub">OVERVIEW:</h4>
        <p>
            Python is a high-level, object-oriented, interpreted programming language, which has garnered worldwide attention. Stack Overflow found out that 38.8% of its users mainly use Python for their projects. According to the website's survey, Python's popularity surpassed that of C# in 2018 - just like it surpassed PHP in 2017 and right now python users have surpassed the Java users with 8.2 million users as of 2020
        </p>
        <p>Also, it is the most sought after programming language for Data Scientists, AI engineers, and Machine Learning engineers.  It’s a great first language because it’s concise and easy to read. Whatever you want to do, Python can do it. From web development to machine learning to data science, Python is the language for you. . Upon the completion of this Python certification training, you can work in the Big Data Hadoop environment for very high salaries. </p>
       
        <h4>INTRODUCTION:</h4>
        <p>
            Python in simple words is a High-Level Dynamic Programming Language which is interpreted. Guido Van Rossum, the father of Python had simple goals in mind when he was developing it, easy looking code, readable and open source. It can run on various systems such as Windows, Linux, and Mac; this makes it highly coveted for the Data Analytics domain.
        </p>
        <p>The language has a design that emphasizes code readability and supports multiple programming paradigms. Python includes high-level data structures, dynamic binding, dynamic typing, and some other features, making it suitable for complex application development. The versions of Python are copyrighted under a GPL-compatible license, which is certified by the Open Source Initiative. Python is considered to be ideal for general purpose tasks like data mining and big data facilitation.</p>

    
        <!-- <p><img src=""></p> -->

        <h4>PRE-REQUISITES</h4>
        <p>
            The course can learn by any IT professional having basic knowledge of:
        </p>
        <ul>
            <li>Unix or Windows Operating System</li>
            <li>Any Programming Language</li>
        </ul>
    </div>
</section>