<section id="intro" class="clearfix">
    <div class="container">
        <div class="intro-img">
            <img src="../../assets/img/intro-img.svg" alt="" class="img-fluid">
        </div>
        <div class="intro-info">
            <h2>Live Interactive <br>
                <a href="" routerLink="courses/allCourses" routerLinkActive="active" href="#"><span>IT Courses</span>
                </a>
                <br>Training Online
            </h2>
            <div>
                <a href="#about" class="btn-get-started scrollto">Get Started</a>
                <a href="#services" class="btn-services scrollto">Our Services</a>
            </div>
        </div>
    </div>
</section>
<div class="container mt-4 mb-4">
    <h5 class="text-center">Boost your career with SnS IT Services. Quality Assured. The best online learning platform for trending & popular IT Courses</h5>
</div>