<section id="intro" class="clearfix">
  <div class="container">
    <div class="intro-info">
      <h2>
        Welcome to
        <a
          href=""
          routerLink="courses/allCourses"
          routerLinkActive="active"
          href="#"
          ><span>SnS IT Services </span></a
        >
        <br />
      </h2>
      <h2>Empowering Your Career Journey</h2>
      <div>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        <a href="#services" class="btn-services scrollto">Our Services</a>
      </div>
    </div>
    <div class="intro-img">
      <img src="../../assets/img/intro-img.svg" alt="" class="img-fluid" />
    </div>
  </div>
</section>
<div class="container mt-4 mb-4">
  <h4 class="text-center">Boost your career with SnS IT Services</h4>
  <p>
    At SnS IT Services, we are committed to helping you navigate the dynamic
    landscape of professional growth. Our comprehensive range of services is
    designed to elevate your career prospects and ensure your success. Whether
    you're seeking job support, specialized training, or interview preparation,
    we have you covered.
  </p>
</div>

<div class="home-services-thumbnail services">
  <div class="container mt-4 mb-4">
    <h4 class="text-center color-white">Our Services</h4>
    <div class="home-services-container">
      <div class="thumbnail">
        <h5 class="text-center">Job Support</h5>
        <p>
          Struggling to land that dream job? Our dedicated team of career
          experts is here to provide personalized guidance and support. From
          resume optimization to mock interviews, we'll equip you with the tools
          you need to stand out in a competitive job market.
        </p>
      </div>
      <div class="thumbnail">
        <h5 class="text-center">Training</h5>
        <p>
          Stay ahead of the curve with our industry-focused training programs.
          Our carefully crafted courses cover a wide array of in-demand skills,
          ensuring you're equipped with the knowledge necessary to excel in your
          field.
        </p>
      </div>
      <div class="thumbnail">
        <h5 class="text-center">Interview</h5>
        <p>
          Ace your interviews with confidence! Our interview preparation
          services offer valuable insights, practice sessions, and strategies to
          help you present your best self and secure those coveted
          opportunities.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="home-services-thumbnail">
  <div class="container mt-4 mb-4">
    <h4 class="text-center">Why Choose SnS IT Services?</h4>
    <div class="home-services-container">
      <div class="thumbnail">
        <h5 class="text-center">Expert Guidance</h5>
        <p>
          Our experienced professionals bring a wealth of knowledge to guide you
          on your career journey.
        </p>
      </div>
      <div class="thumbnail">
        <h5 class="text-center">Tailored Solutions</h5>
        <p>
          We understand that every individual's needs are unique. Our services
          are customized to address your specific requirements
        </p>
      </div>
      <div class="thumbnail">
        <h5 class="text-center">Proven Success</h5>
        <p>
          Countless success stories stand testament to the impact our services
          have on our clients' careers.
        </p>
      </div>
      <div class="thumbnail">
        <h5 class="text-center">Comprehensive Resources</h5>
        <p>
          Access a wealth of resources, from industry insights to exclusive job
          listings
        </p>
      </div>
      <div class="thumbnail">
        <h5 class="text-center">Holistic Approach</h5>
        <p>
          We believe in nurturing not just your skills, but your confidence and
          mindset as well.
        </p>
      </div>
      <div class="thumbnail">
        <h5 class="text-center">Continuous Support</h5>
        <p>
          Your journey doesn't end with a job offer. We're here to provide
          ongoing support as you grow in your career
        </p>
      </div>
    </div>
    <p>
      Join us at CareerBoost Hub and embark on a journey of transformation.
      Let's shape your future together.
    </p>
    <p>
      Ready to take the next step? Explore our services and get started on your
      path to success.
    </p>
  </div>
</div>
